.item-component {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px 5px;
  max-height:max-content;/* Adjust based on navbar height */
  overflow-y: auto; /* Enable vertical scrolling */
  display: flex;
  flex-direction: column;
}

.item-component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: large;
}

.item-component-actions {
  display: flex;
  gap: 10px;
}


.item-component-button:hover {
  transform: scale(1.1);
}

.item-grid-header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  font-weight: bold;
}

.item-component ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

.item-component li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
}

.item-component li:hover {
  background-color: #f1f1f1;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.toast-error {
  color: red;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  outline: none;
  height:40px;
  box-sizing: border-box;
}

.search-button {
  height: 40px;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  width:70px;
  padding-left:6px;
  padding-right:6px;
  box-sizing: border-box;
}

.search-button:hover {
  background-color: #2980b9;
}
@media (max-width: 768px) {
  .search-input{
    width:px;
    height:30px;
    font-size:smaller ;
  }
  .search-button{
    width:70px;
    height:30px;
    font-size: smaller;;
  }
  .item-component-header{
    font-size: small;
    min-width: 300px;
  }
}
