
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4B0082; 
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    align-items: center;

}

.nav-item {
    margin-left: 20px;
    padding: 7.5px 15px;
    background-color: #007BFF; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center; 
}

  
  .nav-item:hover {
    background-color: #0056b3; 
  }
  @media (max-width: 600px) {
    .nav-item {
      padding: 5px 10px;
    }
  }
  
  
  