.sidebar {
  width: 300px;
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius:10;
  height: calc(100vh - 70px); 
  overflow-y: auto; 
  padding-bottom: 5px;
  scroll-behavior: smooth;
}

.sidebar::-webkit-scrollbar {
  display: none; 
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  
}

.sidebar button {
  margin-bottom: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding:5px;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: rgb(53, 85, 90);
}

.location{
  color:rgb(49, 132, 200);
  display: block;
  width: 245px; /* Adjust width to account for padding */
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  margin:2px;
  height: max-content
}
.sidebar li div span:hover {
  transform: scale(1.03);
}

.sidebar li div:hover span {
  background-color: #e0e0e0;
}
.sublocation-span{
  color:rgb(23, 160, 206);
  height:50px;
  display: block;
  border: 1px solid #ddd;
  height:max-content;
  width:200px;
  border-radius: 5px;
  padding-left:10px;
  margin-bottom:3px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.godown-item {
  color: rgb(12, 164, 239);
  border: 1px solid #ddd;
  background-color: #fff;
  padding-left: 10px;
  text-decoration: none;
  width: 150px;
  border-radius: 5px;
  margin:0px;
  margin-left:15px;
  margin-bottom:1px;
}

.godown-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
  transform: scale(1.03);

}

.location-item {
  color: blue;
}

.sublocation-item {
  color: green;
}

.expanded {
  max-height: 2000px;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* New mobile-specific styles */
@media (max-width: 768px) {
  .sidebar-logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    
    position: fixed;
    top: 70px;
    right:1%; /* Position at the top right corner */
    z-index: 1000;
  }

  .sidebar {
    width: 100%;
    max-width: none;
    position: fixed;
    top: 70px; /* Adjust top to avoid colliding with the navbar */
    left: -100%; /* Hide sidebar initially */
    transition: left 0.3s ease-in-out;
  }

  .sidebar.open {
    left: 0; /* Show sidebar when open */
  }

  .sidebar li div span{
    width: 300px;
  }
}
/* sidebar.css */

.context-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  padding: 10px 0;
  z-index: 1000;
}

.context-menu-item {
  padding: 10px 15px;
  cursor: pointer;
  font-family: 'Arial, sans-serif';
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.context-menu-item:hover {
  background-color: #f5f5f5;
  color: #000;
}

.context-menu-divider {
  height: 1px;
  background-color: #e6e6e6;
  margin: 5px 0;
}

/* Handle long press styles for mobile */
@media (max-width: 768px) {
  .context-menu {
    position: absolute;
  }
}

